.background {
    background: #02011e;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.menu-item {
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 50px;
    cursor: pointer;
    transition: .5s;
    border: 1.5px solid transparent;
    width: 100%;
}

.menu-item:hover{
    background-color: #0C0B1F;
    box-shadow: 0 0 5px #18A34F;
}

.menu-item > * {
    padding-left: 20px;
}

.menu-upload {
    border-color: #00BF71;
    border-left: none;
    border-right: none;
    background: #18A34F;
    margin-bottom: 30px;
    border-radius: 0;
}

.topics-container, .cards-container {
    display: none;
}

.cards-container > * {
    display: flex;
    justify-content: center;
}


.menu-item:hover {
    background: transparent;
    border-color: #00BF71;
}

.logo {
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.upload-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #111032;
    gap: 15px;
}

.subtitle {
    color: #00bf71;
    font-family: Cambria;
    font-size: 1.5rem;
    font-weight: bold;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}


.labels {
    font-weight: 300;
    margin: 0;
    padding-top: 3vh;
}

.unlimited {
    background: linear-gradient(45deg, #FFA500, #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    margin:0;
}

.fileTypes{
    -webkit-background-clip: text;
    display: inline-block;
    font-weight: 600;
    margin:0;
}

.uploadText{
    font-weight:500;
    font-size: medium;
}

.slogan {
    font-weight: 300;
}